
div {
  padding: 10px;
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    box-shadow: 5px 5px 13px -4px rgba(229,9,20,0.75);
  }

  span {
    color: #e50914;
    font-weight: bold;
  }
}